#upcomingMovies{
    text-align: center;
    background-color: #ff9999;
    padding: 8px;
    font-size: 1rem;
}


.upcomingMovies ul{
    width: 100%;
    max-height: 250px;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#releasedMovies{
    display: flex;
}

.releasedMovies{
    width: 76%;
    margin: 16px;
}
.releasedMovies li:hover{
    cursor: pointer;
}
.releasedMoviesSearch{
    width:24%;
   
    margin: 16px;
}