.back{
    margin : 8px 0px 0px 24px;
}
.back a{
    color: black;
    font-size: 14px;
}
.back a:link{
    text-decoration: none;
}
#details{
    display: flex;
    margin: 0px 24px 24px 24px;
}
#details .left{
    width: 20%;
    margin-right: 16px;
}
#details .middle{
    width: 60%;
    margin-right: 16px;
}
#details .right{
    width: 20%;
}
.mtop16{
    margin-top: 16px !important;
}
.mtopbot16{
    margin:16px 0px !important;
}

.MuiRating-iconFilled{
    stroke: yellow;
    stroke-width: 2px;
    fill-opacity: 0;
}